<div>
  <h2 id="page-heading" data-cy="VideoImagenHeading">
    <span jhiTranslate="videoApp.videoImagen.home.title">Video Imagens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="videoApp.videoImagen.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-video-imagen"
        [routerLink]="['/video-imagen/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="videoApp.videoImagen.home.createLabel">Create a new Video Imagen</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (videoImagens().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="videoApp.videoImagen.home.notFound">No Video Imagens found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="filename">
              <div class="d-flex">
                <span jhiTranslate="videoApp.videoImagen.filename">Filename</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="orden">
              <div class="d-flex">
                <span jhiTranslate="videoApp.videoImagen.orden">Orden</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="duracionIndividual">
              <div class="d-flex">
                <span jhiTranslate="videoApp.videoImagen.duracionIndividual">Duracion Individual</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="video.id">
              <div class="d-flex">
                <span jhiTranslate="videoApp.videoImagen.video">Video</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (videoImagen of videoImagens(); track trackId(videoImagen)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/video-imagen', videoImagen.id, 'view']">{{ videoImagen.id }}</a>
              </td>
              <td>{{ videoImagen.filename }}</td>
              <td>{{ videoImagen.orden }}</td>
              <td>{{ videoImagen.duracionIndividual }}</td>
              <td>
                @if (videoImagen.video) {
                  <div>
                    <a [routerLink]="['/video', videoImagen.video.id, 'view']">{{ videoImagen.video.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/video-imagen', videoImagen.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/video-imagen', videoImagen.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(videoImagen)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (videoImagens().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
